body {
    width:240px;
    height: 120px;
    margin: 0;
    padding:0;
    font-family:"Bell MT", Georgia, serif;

}

.heading{

	font-size: 24px;
}

#popup_wrapper {

	padding: 10px;
    background: #286027;
    color: white;
    font-size: 18px;
    height:100%;
    width:100;%
}